<!doctype html>
<html lang="en">

<head>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet">

  <title>Climate App</title>

</head>

<body>

  <div class="container" style="padding-top: 20px;">

    <h1>Enter a Start Date</h1>

    <form action="/api/v1.0/start" method="post">

      <div class="mb-3">
        <label for="start_date" class="form-label"><b>Start Date</b></label>
        <input type="date" class="form-control" id="start_date" name="start_date" style="width: 20%;">
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
      <a href="/dashboard" class="btn btn-secondary">Back to Dashboard</a>

    </form>

  </div>

  <!-- Optional JavaScript; choose one of the two! -->
  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>